.type-info {
  // --shadow-bg: var(--primary);
  --shadow-bg: green;
  display: flex;
  position: absolute;
  inset: 10px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 40vw 40vw var(--shadow-bg);
    z-index: 0;
  }

  .card {
    position: relative;
    padding: 1rem;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--card-bg);
    backdrop-filter: blur(50px);
  }

  .body {
    img {
      width: 40px;
    }
  }
}
