.type-info {

  .actions {
    position: absolute;
    left: 50%;
    bottom: -2.5em;
    transform: translateX(-50%);
    border-radius: var(--border-radius);
    background-color: var(--card-bg);
    backdrop-filter: blur(50px);

    .icon {
      opacity: .4;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7em;
    margin-bottom: 1em;
  }

  .body {
    img {
      width: 40px;
    }
  }
}
