*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root, #__next {
  isolation: isolate;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: flex;
  place-items: center;
  min-height: 100vh;

}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  text-align: inherit;
}

ul,
ol,
li {
  list-style: none;
}
